{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Apiclock - Alarm{% endblock %}

{% block page_content %}

<div class="bs-example add_media">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">AJOUTER UNE ALARME</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
		    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ********************************************************** -->
<hr>
    <form action="" method="post" class="form" role="form">
        {{ form2.hidden_tag() }}
        
        {{ wtf.form_field(form2.name) }}
        {{ wtf.form_field(form2.state) }}
        {{ wtf.form_field(form2.heures) }}
        {{ wtf.form_field(form2.minutes) }}
        {{ wtf.form_field(form2.repetition) }}
        {{ wtf.form_field(form2.jours) }}
        
        <div class="form-group" id="form1-medias"><label class="control-label" for="form1-media">{{ form2.media.label }}</label>
            <select class="form-control" id="form1-media" name="form1-media">
            {% for choice in form2.media.choices %}
                <option value="{{choice[0]}}">{{ choice[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" id="form1-radios"><label class="control-label" for="form1-radio">{{ form2.radio.label }}</label>
            <select class="form-control" id="form1-radio" name="form1-radio">
            {% for radio in form2.radio.choices %}
                <option value="{{radio[0]}}">{{ radio[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" id="form1-podcasts"><label class="control-label" for="form1-podcast">{{ form2.podcast.label }}</label>
            <select class="form-control" id="form1-podcast" name="form1-podcast">
            {% for podcast in form2.podcast.choices %}
                <option value="{{podcast[0]}}">{{ podcast[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" id="form1-musics"><label class="control-label" for="form1-music">{{ form2.music.label }}</label>
            <select class="form-control" id="form1-music" name="form1-music">
                {% for music in form2.music.choices %}
                    <option value="{{music[0]}}">{{ music[1] }}</option>
                {% endfor %}
            </select>
        </div>
        {{ wtf.form_field(form2.submit) }}
    </form>

<hr>
<!-- ********************************************************** -->


<h2>ALARMES</h2>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Days</th>
			<th>Frequency</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for alarm in alarms %}
		<tr>
			<td>{{ alarm.namealarme }}</td>
			<td>{{ alarm.days }}</td>
			<td>{{ alarm.frequence }}</td>
			<td>
                {% if alarm.state == 1 %}
                    <a href="{{url_for('alarm.index', action='3', idr=alarm.id)}}" class="btn btn-danger btn-sm active"
                   role="button">Desactiver</a>
                {% else %}
                    <a href="{{url_for('alarm.index', action='3', idr=alarm.id)}}" class="btn btn-success btn-sm active"
                   role="button">Activer</a>
                {% endif %}
                <a href="{{url_for('alarm.index', action='2', idr=alarm.id)}}" class="btn btn-default btn-sm active"
                   role="button">Editer</a>
                <a href="{{url_for('alarm.index', action='1', idr=alarm.id)}}" class="btn btn-danger btn-sm active"
                   role="button">Supprimer</a>
			</td>
		</tr>
		{% endfor %}
	</tbody
</table>


<br/>
{% if test %}
	{{test}}
{% endif %}

{% endblock %}
