{% extends "base.html" %}

{% block title %}ApiClock - Podcasts{% endblock %}

{% block page_content %}

{% if podcasts %}
        {% for podcast in podcasts %}
            <img src="{{ podcast.img }}" width='10%' height='10%' />// {{ podcast.name }}
                // <a href="{{ url_for('alarm.podcast', action='unsubscribe', music_id=podcast.id)  }}"> Unsubscribe </a>
                // <a href="{{ url_for('alarm.podcast', action='show', music_id=podcast.id)  }}"> Display emissions </a>
        {% endfor %}
{% endif %}

{{ test }}
        
{% endblock %}
