{% extends "base.html" %}

{% block title %}Jerome FIOT - Blog{% endblock %}

{% block page_content %}


<div class="col-lg-10">
    <h1>
        <a title="Un environnement PYTHON sur mon mac" href="http://localhost:8888/jeromefiot/index.php?article6/un-environnement-virtuel-python-sur-mon-mac">Un environnement PYTHON sur mon mac</a>
    </h1>
    <p>
        <i class="fa fa-clock-o "></i> 13 décembre 2013
        <i class="fa fa-tags "></i>
            <span class="label label-success noactive" style="margin-left:5px;">Python</span>
            <span class="label label-success noactive" style="margin-left:5px;">Mac</span>
    </p>

    <hr>
        Très bien ca mais c'est quoi l'idée et ca sert à quoi ?
        <br/><br/>
        <ul>
            <li>Permet de créer un "espace", qu'on apellera dorénavant "environnement", dédié à son projet python sur son mac qui n'interfère pas avec le système du mac (si vous faites plein de conneries dedans, ce n'est pas un problème !)</li>
            <li>Cet environnement peut avoir ses propres modules (des programmes unqiuement actif dans cet environnement... sans conséquence pour le système)</li>
            <li>Il peut y avoir plusieurs environnements sur une machine avec des versions différentes de python par exemple.</li>
        </ul>
        Parfait donc pour tester un projet... voyons comment faire !
        <br/><br/>
        <p class="more"><a title="Lire la suite de Un environnement PYTHON sur mon mac" href="#">Lire la suite de Un environnement PYTHON sur mon mac</a></p>
    <hr>

</div>

{% endblock %}