{% extends "base.html" %}
{% block title %}Jerome FIOT - CV{% endblock %}
{% block page_content %}

<!-- http://bootsnipp.com/snippets/featured/simple-resume-template -->

<div class="container">
    <div class="resume">
<!--    <header class="page-header">
    <h1 class="page-title">Resume of Jérôme Fiot</h1>
    <small> <i class="fa fa-clock-o"></i> Last Updated on: <time>Sunday, October 10, 2015</time></small>
  </header>-->
    <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
    <div class="panel panel-default">
        <div class="panel-heading resume-heading">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-xs-12 col-sm-4">
                <figure>
                  <img class="img-circle img-responsive" alt="" src="{{ url_for('static', filename='img/jeromefiot_2.jpg') }}">
                </figure>
                
                <div class="row">
                  <div class="col-xs-12 social-btns">
                    
<!--                       <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                        <a href="#" class="btn btn-social btn-block btn-google">
                          <i class="fa fa-google"></i> </a>
                      </div>
                    
                      <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                        <a href="#" class="btn btn-social btn-block btn-facebook">
                          <i class="fa fa-facebook"></i> </a>
                      </div> -->
                    
                      <div class="col-xs-3 col-md-2 col-lg-1 social-btn-holder">
                        <a href="#" class="btn btn-social btn-block btn-twitter">
                          <i class="fa fa-twitter"></i> </a>
                      </div> 
                    
                      <div class="col-xs-3 col-md-2 col-lg-1 social-btn-holder">
                        <a href="#" class="btn btn-social btn-block btn-linkedin">
                          <i class="fa fa-linkedin"></i> </a>
                      </div>
                    
                      <div class="col-xs-3 col-md-2 col-lg-1 social-btn-holder">
                        <a href="#" class="btn btn-social btn-block btn-github">
                          <i class="fa fa-github"></i> </a>
                      </div>
                    
                      <!-- <div class="col-xs-3 col-md-1 col-lg-1 social-btn-holder">
                        <a href="#" class="btn btn-social btn-block btn-stackoverflow">
                          <i class="fa fa-stack-overflow"></i> </a> 
                      </div>-->
                    
                  </div>
                </div>
                
              </div>
              <div class="col-xs-12 col-sm-8">
                <ul class="list-group">
                    <li class="list-group-item"><h2>Jérôme FIOT</h2></li>
                    <li class="list-group-item">Senior Digital Consultant</li>
                    <li class="list-group-item">Netquarks Group </li>
                    <li class="list-group-item"><i class="fa fa-phone"></i> +33 512 502 66 </li>
                    <li class="list-group-item"><i class="fa fa-envelope"></i> j_fiot@hotmail.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Summary</h4>
        <p>
            Je développe des projets web grâce à une expertise technique, marketing et stratégique du Web<br/>
            ... mais surtout grâce à une véritable passion pour ce medium !
        </p>
        <p>
            <b>15 ans d'expertise digitale à votre service </b>
        </p>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Research Interests</h4>
        <p>
            Strategie, Interfaces, Digitalisation
        </p>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Experiences</h4>
        <ul class="list-group">
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">
              Consultant Senior - Netquarks Group
            </h4>
            <p class="list-group-item-text">
            Suivi de projet granbds comptes (Airbus Online univerty...), prise de brief, compétitions...
            </p>
          </a>
          
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">Developpement FOXCOMM</h4>
            <p class="list-group-item-text">
                Gestion de l'ensemble de la chaine de création (prospection, encadrement, suivi, facturation...) d'une structure de 3 personnes.
            </p>
          </a>
          
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading">PDG - Streamrox Network / IMMOROX </h4>
            <p class="list-group-item-text">
                Commercialisation d’une solution innovante (bénéficiaire CIR / OSEO) proposant aux agents immobiliers de faire visiter leurs biens en LIVE : IMMOROX 
                (1er portail immobilier de visites interactivess LIVE) 
                Développement de la solution, de la société (SAS au capital de 74k € dont Bouygues Telecom en BSA). 
            </p>
            <p>
                Société de 4 personnes (+ outsourcing) dont 2 associés fondateurs. 
            </p>
          </a>
          
          <a class="list-group-item inactive-link" href="#">
            <h4 class="list-group-item-heading"> VI-LIVE / VI INTERACTIVE – Associé resp. Développement </h4>
            <p class="list-group-item-text">
                Associé, chargé du développement marketing, commercial et partenariat. 
                Développement commercial et valorisation d’une solution live vidéo au travers une plate forme B2C : Blogvideo.tv (100k VU / mois)
                
                Société de 3 personnes CA 200K € proposant des solutions et prestation de service web et multimédia type agence orientée développement. 
            </p>
            <p>
                Société de 4 personnes (+ outsourcing) dont 2 associés fondateurs. 
            </p>
          </a>
          
        </ul>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Key Expertise</h4>
        <ul class="list-group">
          <li class="list-group-item"> Comprendre et définir une stratégie digitale</li>
          <li class="list-group-item"> Veiller et analyser les tendances / enjeux</li>
          <li class="list-group-item"> Encadrer et motiver des équipes</li>
          <li class="list-group-item"> Suivre et enrichir une proposition</li>
        </ul>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Language and Platform Skills</h4>
        <ul class="list-group">
          <a class="list-group-item inactive-link" href="#">
            
            <div class="progress">
              <div data-placement="top" style="width: 80%;" 
              aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" class="progress-bar progress-bar-success">
                <span class="sr-only">80%</span>
                <span class="progress-type">Office suite</span>
              </div>
            </div>
            <div class="progress">
              <div data-placement="top" style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-success">
                <span class="sr-only">70%</span>
                <span class="progress-type">CMS : Wordpress, prestashop...</span>
              </div>
            </div>
            <div class="progress">
              <div data-placement="top" style="width: 65%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-success">
                <span class="sr-only">65%</span>
                <span class="progress-type">Python/ Flask</span>
              </div>
            </div>
            <div class="progress">
              <div data-placement="top" style="width: 50%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="1" role="progressbar" class="progress-bar progress-bar-warning">
                <span class="sr-only">50%</span>
                <span class="progress-type">PHP</span>
              </div>
            </div>
            <div class="progress">
              <div data-placement="top" style="width: 45%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                <span class="sr-only">45%</span>
                <span class="progress-type">HTML / CSS / Bootstrap</span>
              </div>
            </div>
            <div class="progress-meter">
              <div style="width: 25%;" class="meter meter-left"><span class="meter-text">I suck</span></div>
              <div style="width: 25%;" class="meter meter-left"><span class="meter-text">I know little</span></div>
              <div style="width: 30%;" class="meter meter-right"><span class="meter-text">I'm a guru</span></div>
              <div style="width: 20%;" class="meter meter-right"><span class="meter-text">I''m good</span></div>
            </div>
          </a>
        </ul>
      </div>
      <div class="bs-callout bs-callout-danger">
        <h4>Education</h4>
        <table class="table table-striped table-responsive ">
          <thead>
            <tr><th>Degree</th>
            <th>Graduation Year</th>
          </tr></thead>
          <tbody>
            <tr>
              <td>DESS Hypermédias - Félicitations du Jury</td>
              <td>2012</td>
            </tr>
            <tr>
              <td>ISC : Ecole de commerce</td>
              <td>2018</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
    
</div>

</div>

{% endblock %}