     <!-- Carousel -->
    <div id="myCarousel" class="carousel slide">
      <!-- Indicators -->
<!--        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
-->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active"> 
            <div class="fill" style="background-image:url('http://jeromefiot.no-ip.org/themes/Bootstrap3/slider/ieps.jpg');"></div>
            <div class="carousel-caption">
              <h1>Je suis disponible !</h1>
              <p><a class="btn btn-large btn-primary" href="mailto:j_fiot@hotmail.com">CONTACTEZ-MOI : + 33 6.51.25.02.66</a></p>
            </div>
          </div>
          
      <!-- <div class="item">          
            <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Image 1');"></div>
            <div class="carousel-caption">
              <h1>Bootstrap 3 Template pour PluXml  <i class="icon-leaf"></i></h1>
            </div>
          </div> -->
          
        </div>

        <!-- Controls -->
<!--        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="icon-next"></span>
        </a>-->
    </div>
    <!-- /Carousel -->

    <div class="section">

      <div class="container">

        <div class="row">
        
          <div class="col-lg-4 col-md-4">
            <a href="#"><img style="margin-left: 80px" class="img-circle1" ></a>
            <h3><i class="fa fa-file-text-o"></i> Mon parcours / Expérience</h3>
            <p>Découvrez mon parcours, <br />
             ce que je peux vous apporter !
            </p>
          </div>
          
          <div class="col-lg-4 col-md-4">
            <a href="#"> <img style="margin-left: 80px" class="img-circle2"> </a>
            <h3><i class="fa fa-search"></i> Découvrez mes découvertes</h3>
            <p>Ma veille partagée : Marketing, Business et autre... pour vous, rien que pour vous.</p>
          </div>
          
          <div class="col-lg-4 col-md-4">
            <a href="#"> <img style="margin-left: 80px" class="img-circle3"> </a>
            <h3><i class="fa fa-code"></i> Raspberry + Python</h3>
            <p>Il n'est rien sans passion.<br />
            Celle du moment : Raspberry Pi & Python
            </p>
          </div>
          
        </div><!-- /.row -->

      </div><!-- /.container -->

    </div><!-- /.section -->

   <div class="container">
        <div class="row">
         <div class="col-lg-12">
                   </div>
        </div>
   </div>
   

    <div class="container">

      <hr>

      <footer>
        <div class="row">
          <div class="col-lg-12">
          
          <ul class="list-unstyled list-inline  pull-left">
              <li><a class="maintitle" href="http://localhost:8888/jeromefiot/" title="Jerome Fiot">Jerome Fiot</a> © 2013 - Presentation &amp; Experimentation</li>	                  
          </ul>
           
          </div>
        </div>
      </footer>

    </div><!-- /.container -->