{% extends "base.html" %}

{% block title %}ApiClock - ADMIN STUFF{% endblock %}

{% block page_content %}

<h3>Admin STUFF</h3>
<ul>
        <li>Afficher heure : http://www.supportduweb.com/scripts_tutoriaux-code-source-10-afficher-l-039-heure-et-la-date-en-temps-reel.html</li>
        <li>Git all</li>
	<li>Gestion du volume: amixer  sset PCM,0 100%</li>
        <li>Messages</li>
        <li>API</li>
	<li>scrap listing radio / radios favorites : http://fluxradios.blogspot.fr/?m=1</li>
        <li>Télécharger les émissions</li>
        <li>Gestion de l'espace de stockage</li>
        <li>Bouton</li>
        <li>Ecran</li>
	<li>double deroulant pour choix media d alarme</li>
</ul>
        
{% endblock %}
