{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ApiClock - ADMIN STUFF{% endblock %}

{% block page_content %}

<section class="tasks-widget">
        <div class="panel-heading">
            <div class="pull-left"><h4><i class="fa fa-tasks"></i> Todo List du {{today}}</h4></div>
            <br/><br/>
        </div>
          <div class="panel-body">
              <div class="task-content">
                  <ul class="task-list">
                {% for line in data %}
                    {% if today in line %}
                    <!-- change background color if date of todo is today -->
                        <li style="background-color: #dddddd;">
                        {% else %}
                        <li >
                    {% endif %}
                          <div class="task-title">
                                <span class="task-title-sp">{{line}}</span>
                                {% if 'DONE' in line %}
                                <!-- add badge if todo is done -->
                                    <span class="badge bg-warning">Done</span>
                                {% endif %}
                                <div class="pull-right hidden-phone">
                                {% if 'DONE' not in line %}
                                    <a class="btn btn-success" href="{{ url_for('main.admin_stuff', idline=line|replace("/", " ")|truncate(4,False,end=' modify')) }}"><i class=" fa fa-check"></i></a>
                                {% endif %}
<!--  <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>-->
                                <a class="btn btn-danger" href="{{ url_for('main.admin_stuff', idline=line|replace("/", " ")|truncate(4,False,end=' delete')) }}"><i class="fa fa-trash-o "></i></a> 
                              </div>
                          </div>
                      </li>
                {% endfor %}
                  </ul>
              </div>
                <div class=" add-task-row">
                    {{ wtf.quick_form(form) }}
                </div>
        </div>
</section>

{% endblock %}