{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ApiClock - Podcasts{% endblock %}

{% block page_content %}

   {{ wtf.quick_form(form)}}

<br/>
    {% if jours %}
        {% for jour in jours %}
            {{jour}}
        {% endfor %}
    {% endif %}
    
    {% if heures %}
        {{heures}}
    {% endif %}
    
    {% if minutes %}
        {{minutes}}
    {% endif %}    
<br/>
    {% if test %}
        {{test}}
    {% endif %}  
        
{% endblock %}
