{% extends "bootstrap/base.html" %}

{% block title %}Apiclock{% endblock %}

<head>
{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script type="text/javascript" src="{{ url_for('static', filename='js/date_heure.js') }}"></script>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script language="javascript">//<![CDATA[
    $(document).ready(function() {
        $("#radios").show();
        $("#podcasts").hide();
        $("#musics").hide();
        $("#form1-radio").hide();
        $("#form1-podcast").hide();
        $("#form1-music").hide();
        
        $("#media").change(function() {
            if ($("#media").val() == "1"){
                $("#radios").show();
                $("#podcasts").hide();
                $("#musics").hide();
            } else if ($("#media").val() == "2") {
               $("#radios").hide();
               $("#podcasts").show();
               $("#musics").hide();
            } else if ($("#media").val() == "3") {
               $("#radios").hide();
               $("#podcasts").hide();
               $("#musics").show();
            } else {
               $("#radios").hide();
               $("#podcasts").hide();
               $("#musics").hide();
            }
        });
        $("#form1-media").change(function() {
            if ($("#form1-media").val() == "1"){
                $("#form1-radio").show();
                $("#form1-podcast").hide();
                $("#form1-music").hide();
            } else if ($("#form1-media").val() == "2") {
               $("#form1-radio").hide();
               $("#form1-podcast").show();
               $("#form1-music").hide();
            } else if ($("#form1-media").val() == "3") {
               $("#form1-radio").hide();
               $("#form1-podcast").hide();
               $("#form1-music").show();
            } else {
               $("#form1-radio").hide();
               $("#form1-podcast").hide();
               $("#form1-music").hide();
            }
        });
    });
    //]]>
</script>


{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
<!--      AFFICHAGE PUBLIC          -->

            <a class="navbar-brand" href="{{ url_for('main.index') }}">APIClock</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if not current_user.is_authenticated() %}
                    <li><a href="#">Concept</a></li>
                    <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                    <li ><a href="{{ url_for('auth.login') }}">Log In</a></li>
            </ul>
                {% endif %}
            
<!--      SEMI PRIVATE          -->
            
                {% if current_user.is_authenticated() and not current_user.is_administrator() %}
                    <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
                </ul> 
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ current_user.gravatar(size=18) }}">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                            <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                            <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
                
<!--      ADMIN          -->

                {% if current_user.is_administrator() %}
                <li><a href="{{ url_for('main.dashboard') }}">Dashboard</a></li>
                <li><a href="{{ url_for('alarm.index') }}">Alarme</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Radio <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('radio.index') }}">Radios</a></li>
                        <li><a href="{{ url_for('radio.podcast', action='rien') }}">Podcasts</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_administrator() %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                        <li><a href="{{ url_for('main.admin_stuff') }}">Reminder</a></li>
                        <li><a href="{{ url_for('main.users') }}">Users</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}  
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

<div id="footer">
    {% block footer %}
        {% include '_footer.html' %}
    {% endblock %}
</div>

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
