{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <div style="margin-top:-50px;">
        <a href="{{ url_for('main.dashboard', action='1', musique='0') }}" class="btn btn-primary btn-lg active" role="button">Play</a>
        <a href="{{ url_for('main.dashboard', action='0', musique='0') }}" class="btn btn-default btn-lg active" role="button">Stop</a>
        <a href="{{ url_for('main.dashboard', action='2', musique='0') }}" class="btn btn-primary btn-lg active" role="button"> + Fort </a>
        <a href="{{ url_for('main.dashboard', action='3', musique='0') }}" class="btn btn-default btn-lg active" role="button"> - Fort </a>
    </div>
</div>

<div class="col-md-4">
    <h2>PLAY</h2>
    <form action="{{ url_for('main.dashboard') }}" method="post" class="form" name="form1">
        {{ form1.hidden_tag() }}
        <div class="form-group" id="medias"><label class="control-label" for="media">{{ form1.media.label }}</label>
            <select class="form-control" id="media" name="media">
            {% for choice in form1.media.choices %}
                <option value="{{choice[0]}}">{{ choice[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" id="radios"><label class="control-label" for="radio">{{ form1.radio.label }}</label>
            <select class="form-control" id="radio" name="radio">
            {% for radio in form1.radio.choices %}
                <option value="{{radio[0]}}">{{ radio[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" id="podcasts"><label class="control-label" for="podcast">{{ form1.podcast.label }}</label>
            <select class="form-control" id="podcast" name="podcast">
            {% for podcast in form1.podcast.choices %}
                <option value="{{podcast[0]}}">{{ podcast[1] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group" id="musics"><label class="control-label" for="music">{{ form1.music.label }}</label>
            <select class="form-control" id="music" name="music">
                {% for music in form1.music.choices %}
                    <option value="{{music[0]}}">{{ music[1] }}</option>
                {% endfor %}
            </select>
        </div>
        <input class="btn btn-default" type="submit" name="form1-submit" value="Jouer">
    </form>
</div>

<!-- <div class="col-md-4">
    <h2>SNOOZE</h2>
    {{ wtf.quick_form(form1) }}
</div>
 -->
<div class="col-md-4">
    <h2>SNOOZE</h2>
    {{ wtf.quick_form(formsnooze) }}
</div>

{% endblock %}
